@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
   <h1>Empréstimos online</h1>
   <p>Abra um livro, deixe-se levar. Um novo mundo vai encontrar!</p>
   <div>
       <img src="~/img/book.png" />
   </div>
</div>
